# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
release.properties

# IntelliJ
*.iml
.idea/
out/

# Logs
*.log

# Sistema Operacional
.DS_Store
Thumbs.db

# Configurações de Ambiente
.env

# Diretórios Temporários
tmp/
